@font-face {
  font-family: 'OrganettoUltraBold';
  src: url('../fonts/organetto/Fontspring-DEMO-organetto-ultrabold.otf') format('opentype');
}

@font-face {
  font-family: 'AvenirLTProBlack';
  src: url('../fonts/avenir/AvenirLTProBlack.otf') format('opentype');
}

@font-face {
  font-family: 'AvenirLTProLight';
  src: url('../fonts/avenir/AvenirLTProLight.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'AvenirLTProLight', 'Segoe UI';
}

body {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}

header {
  background-color: #fff;
  position: sticky;
  top: 0;
  padding: 1rem 5%;
}

header a {
  color: #036732;
  font-size: 1.5rem;
}

.invoice {
  max-width: 484px;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), 
              url('../../public/icons/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  gap: .8rem;
}

.font-organetto {
  font-family: 'OrganettoUltraBold', 'Segoe UI';
}

.invoice__header {
  width: 20%;
}

h2 {
  color: #035A2D;
}

h3 {
  align-self: start;
  font-family: 'AvenirLTProBlack', 'Segoe UI';
}

.invoice__header img {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: .2rem;
  text-align: left;
  font-size: 1rem;
}

th {
  color: #036732;
}

td {
  padding-bottom: 1rem;
  color: #3D3D3D;
}

p {
  color: #3D3D3D;
  font-size: 1rem;
}

.invoice__payment td,
.invoice__payment th {
  width: 50%;
}

.invoice__order-detail th {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: .6rem 0;
  font-family: 'AvenirLTProBlack', 'Segoe UI';
}

.invoice__order-detail td {
  padding: .6rem 0;
}

.invoice__order-detail tr td:not(.invoice__order-detail tr td:first-child) {
  text-align: center;
}

.invoice__order-detail thead tr th:not(.invoice__order-detail thead tr th:first-child) {
  text-align: center;
}

.invoice__subtotal {
  margin-top: 1.5rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.invoice__subtotal th {
  font-size: 1.2rem;
}

.invoice__subtotal td {
  display: flex;
  align-items: center;
  padding: .6rem 0;
}

.invoice__total {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.invoice__total p {
  font-size: 1.5rem;
  font-family: 'AvenirLTProBlack', 'Segoe UI';
}

.invoice__total p:first-child {
  font-size: 1.5rem;
  color: #036732;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 484px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  margin: auto;
  gap: 1rem;
}

footer a {
  color: #036732;
}

footer button {
  background-color: #036732;
  border: none;
  padding: .6rem;
  border-radius: .8rem;
  color: #fff;
  cursor: pointer;
}
